<form> 
    <div> 
        <label for= "Prenom">Prenom:</label>
        <input input= "text" id="Prenom" name="user_firstname">
    <br>
    <br>
        <label for= "Nom">Nom:</label>
        <input input= "text" id="Nom" name="user_name">
    </div>

    <br>

    <div class="button"> 
        <input type="submit">
    </div>

    https://www.youtube.com/watch?v=VPor5ErX_90


    </form>